<div class="d-flex text-center align-items-center justify-content-center bg-dark text-light">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Power_base</th>
        <th>Power_step</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @weapon.name %> </td>
        <td> <%= @weapon.description %> </td>
        <td> <%= @weapon.power_base %> </td>
        <td> <%= @weapon.power_step %> </td>
        <td> <%= @weapon.level %> </td>
      </tr>
    </tbody>
  </table>
</div>
